# FastAPI server
fastapi==0.110.0
uvicorn[standard]==0.29.0

# MongoDB
pymongo[srv]==4.7.3

# LangChain
langchain==0.3.21
langchain-google-genai==2.0.2
langchain-mongodb==0.2.0


# Environment variables
python-dotenv==1.0.1

# Data validation
pydantic==2.7.4

# Authentication
PyJWT==2.8.0
bcrypt==4.1.2
